<div class="recent-box">
  <h2 class="recent-title">Recent post</h2>
  <div class="recent-list">
    {% for post in site.posts offset:0 limit:4 %}
      <!--{% if post.title %}
        <a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" class="recent-item" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}) center no-repeat; background-size: cover;"><span style="color:#fff;width:100%;text-align:center;border-radius: 10px;background: #b44242;">{{ post.title }}</span></a>
      {% endif %}-->
      {% if post.img == "py.png" %}
        <a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" class="recent-item" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}) center no-repeat; background-size: cover;"><span style="color:#fff;width:100%;text-align:center;border-radius: 10px;background: #239b56;">{{ post.title }}</span></a>
      {% endif %}
    
      {% if post.img == "sq.jpg" %}
        <a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" class="recent-item" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}) center no-repeat; background-size: cover;"><span style="color:#fff;width:100%;text-align:center;border-radius: 10px;background: #c0392b;">{{ post.title }}</span></a>
      {% endif %}
    
      {% if post.img == "cs.png" %}
        <a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" class="recent-item" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}) center no-repeat; background-size: cover;"><span style="color:#fff;width:100%;text-align:center;border-radius: 10px;background: #2874a6;">{{ post.title }}</span></a>
      {% endif %}
    
      {% if post.img == "pb.png" %}
        <a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" class="recent-item" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}) center no-repeat; background-size: cover;"><span style="color:#fff;width:100%;text-align:center;border-radius: 10px;background: #F5C411;">{{ post.title }}</span></a>
      {% endif %}
    
      {% if post.img == "aws.png" %}
        <a href="{{ root_url }}{{ post.url | prepend: site.baseurl }}" class="recent-item" style="background: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}}) center no-repeat; background-size: cover;"><span style="color:#fff;width:100%;text-align:center;border-radius: 10px;background: #F79500;">{{ post.title }}</span></a>
      {% endif %}
    <!---
    #f1c40f yellow
    #c0392b red
    #ba4a00 orange
    #884ea0 purple
    #2874a6 blue
    #239b56 green
    #F79500 gold
    --->
    {% endfor %}
  </div>
</div> <!-- End Recent-Box -->
